:host input:disabled::placeholder {
  visibility: hidden;
}

:host .slds-dropdown {
  position:fixed;
  transform: none;
  left: 0;
  top: 0;
}

:host .add-row-focus {
  background-color: var(--lwc-colorBackgroundRowHover,rgb(243, 242, 242));
  text-decoration: none;
}

:host .mySticky {
  width: 100%;
  top: 0;
  position: sticky;
}

:host .myInput {
  width: 100%;
  font-size: 13px;
  padding: 8px 18px 8px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

:host input.myInput:focus {
  outline-width: 0;
}

:host .errorMessage {
  padding: 20px 0px 10px 20px;
  color:rgb(182, 0, 0);
}

:host .slds-has-error input:not(.myInput) {
  border-color: #ea001e !important;
}